@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');

*{
    margin: 0%;
    padding: 0%;
    outline: none;
}

body{
    background: linear-gradient(to right, #f4b661, #f16160);
}

.contenedor{
    width: 30%;
    height: 40%;
    background-color: darkgray;
    margin-top: 10%;
    margin-left: 35%;
}

h3{
    text-align: center;
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 30px;
}

input{
    padding: 15px;
	width: 85%;
	border: 2px solid transparent;
	font-size: 16px;
    border-radius: 3px;
    margin-left: 10px;
    margin-top: 5px;
}

input:focus{
    border-color: #1dbf73;
}

label{
    margin-left: 10px;   
}

button{
    width: 200px;
    height: 30px;
    margin-left: 100px;
    border-radius: 5px;
}

button.disabled{
    background: #727272;
}

button.enabled{
    background: #1dbf73;
	cursor: pointer;
}

.msjError{
    font-size: 15px;
	text-align: center;	
	color: #f74040;
    display: none;
    margin-bottom: 20px;
    margin-left: 85px;
}